/* Politburo CSS */

/*index.html*/

/* Global Styles*/
* {
    box-sizing: border-box;
}
/* Class Styles */
/* ID Styles */
#test {
    color: blueviolet; /* why doesnt this work, somone please explain*/
}
/* Element Styles */
h2 {
    color: blueviolet;
}

/*projects.html*/


/* Class Styles */
/* ID Styles */
#disclaimer {
    color: red;
    font-weight: bold;
}
/* Element Styles */